- image_size = 'small'

img(width=16, height=16, src=tweet.user.profile_image_url_https)
&nbsp;
b
  a(href=url.user)= tweet.user.name
&nbsp;
a(href=url.user)= '@' + tweet.user.screen_name
br
!= html
br
a(href=url.tweet)= time.format('DD MMM YYYY')

if(tweet.entities.media)
  br
  each media in tweet.entities.media
    if media.type === 'photo'
      - size = media.sizes[image_size]
      a(href=media.expanded_url)
        img(width=size.w, height=size.h, src=media.media_url_https + ':' + image_size)
      &nbsp;
